.App {
  text-align: start;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.MuiCollapse-root {
  width: 100%;
}

.MuiCollapse-vertical {
  width: 100%;
}

.MuiCollapse-entered {
  width: 100%;
}

.css-pwcg7p-MuiCollapse-root {
  width: 100%;
}
